<div class="<%= moduleName %>">
    <div class="modal-header">
        <h3 class="modal-title"><%= modalName %></h3>
    </div>

    <!--form modal start-->
    <form name="data_form" novalidate ng-submit="ok()" class="form-horizontal">
        <div class="modal-body">
            <div class="form-group">
                <label class="col-lg-2 control-label"><b class="text-danger">*</b>示例标签:</label>

                <div class="col-lg-10">
                    <input name="demoField" ng-model="formData.demoField" ng-maxlength="20" required type="text"
                           class="form-control">

                    <div class="m-t-xs" ng-show="data_form.demoField.$invalid && data_form.submitted">
                        <small class="text-danger" ng-show="data_form.demoField.$error.required">示例标签必填</small>
                        <small class="text-danger" ng-show="data_form.demoField.$error.maxlength">示例标签不能大于20个字符</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">{{::i18n.ok}}</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">{{::i18n.cancel}}</button>
        </div>
    </form>
    <!--form modal end-->

    <!--blank modal start-->
    <div class="modal-body">
        Blank modal view with controller: <%= firstCapCamelModuleName %><%= firstCapCamelModalName %>Ctrl
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">{{::i18n.ok}}</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">{{::i18n.cancel}}</button>
    </div>
    <!--blank modal end-->

</div>
